# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
dist/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# Local environment and secret files
.env
*.local.env

# Media temporary cache
stream_media/
alac_cache/
tmp/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
